* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
#configuracao {
  max-width: 480px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #660099;
  padding: 10px;
}
fieldset {
  color: #ffffff;
  padding: 5px;
}
label {
  padding: 5px;
}
#diario_bordo {
  display: flex;
  flex-direction: column;
}
#historico {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#configuracao_alerta {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
}
#sobre {
  margin-top: 10px;
}
button{
    margin-top: 5px;
}
button:hover{
    cursor: pointer;
}
.link_voltar{
  font-size: 2rem;
  color: #ffffff;
}
.estilo_link_voltar{
  margin-bottom: 20px;
}
