@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo|Baloo+Bhai|Fredoka+One&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: sans-serif;
}
#configuracao {
  max-width: 480px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #660099;
  padding: 10px;
}
header {
  width: 100%;
  height: 50px;
}
.menu_hamburguer {
  font-size: 2rem;
  margin-left: 10px;
}
input[type="checkbox"] {
  display: none;
}
.nav_menu {
  margin-top: -60px;
  transform: translateY(-150%);
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.9);
}
input[type="checkbox"]:checked ~ .nav_menu {
  transform: translateY(0);
}
li {
  padding: 20px;
}
a {
  color: #ffffff;
  font-family: 'roboto' sans-serif;
}
fieldset {
  color: #ffffff;
  padding: 5px;
}
label {
  padding: 5px;
}
#diario_bordo {
  display: flex;
  flex-direction: column;
}
#historico {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#configuracao_alerta {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
}
#sobre {
  margin-top: 10px;
}
button {
  margin-top: 5px;
}
button:hover {
  cursor: pointer;
}
.link_home {
  font-size: 2rem;
  color: #ffffff;
}
.estilo_times {
  font-size: 3rem;
  float: right;
  margin-top: -15px;
}
