@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo|Baloo+Bhai|Fredoka+One&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  color: #ffffff;
  font-family: sans-serif;
}
#container_info_tec {
  position: relative;
  max-width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  background-color: #660099;
}
header {
  width: 100%;
  height: 50px;
}
.menu_hamburguer {
  font-size: 2rem;
  margin-left: 10px;
}
input[type="checkbox"] {
  display: none;
}
.nav_menu {
  margin-top: -60px;
  transform: translateY(-150%);
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.9);
}
input[type="checkbox"]:checked ~ .nav_menu {
  transform: translateY(0);
}
li {
  padding: 20px;
}
a {
  color: #ffffff;
  font-family: 'roboto' sans-serif;
}
fieldset {
  color: #ffffff;
  padding: 10px;
}
.itens {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px rgb(66, 00, 99);
}
h2 {
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
}
.estiloh2::after {
  content: " + ";
  float: right;
}
input {
  display: none;
}
.conteudo {
  display: none;
  transition: 0.8s ease;
  font-family: sans-serif;
  line-height: 1.4em;
}
input:checked + .conteudo {
  display: block;
}
.link_voltar {
  font-size: 2rem;
  color: #ffffff;
  float: left;
}
.link_home {
  font-size: 2rem;
  color: #ffffff;  
}
.estilo_times {
  font-size: 3rem;
  float: right;
  margin-top: -15px;
}
